<div class="container">
  <div class="form">
    <h3 id="main">Edit profile</h3>

    <form method="POST" enctype="multipart/form-data">
      <label for="input-name">Name</label>
      <input
        type="text"
        id="input-name"
        style="max-height:50px;width:100px
        name="name"
        placeholder="Your Name"
        value="{{profile.name}}"
      />
      <p>Picture</p>
      <label for="input-picture" class="add-picture">Click to upload</label>
      <input
        id="input-picture"
        type="file"
        style="max-height:50px;width:100px"
        accept="image/*"
        name="picture"
      />

      <button class="submit">Update profile</button>
    </form>
  </div>
</div>