<div class="main">
  <h3>Edit user profile</h3>
</div>
<form method="POST" enctype="multipart/form-data">
  <label for="input-name">Name</label>
  <input
    type="text"
    id="input-name"
    name="name"
    placeholder="Your Name"
    value="{{profile.name}}"
  />

  <label for="input-picture">Your profile picture</label>
  <input id="input-picture" type="file" accept="image/*" name="picture" />

  <button>Update profile</button>
</form>