<h1>Create a new Post</h1>

<form method="POST" enctype="multipart/form-data">
  <label for="input-title">Title</label>
  <input
    id="input-title"
    class="create-input"
    type="text"
    name="title"
    placeholder="Title..."
    value="{{cardTitle}}"
  />
  <label for="input-title">Description</label>
  <textarea
    id="input-description"
    class="create-input"
    name="text"
    placeholder="Description..."
  >{{cardText}}</textarea>
  <label for="input-media">Upload a media</label>
  <input
    id="input-media"
    class="create-input"
    type="file"
    accept="image/*"
    name="media"
    value="{{cardMedia}}"
  />

  <button id="create-button">Create Post</button>
</form>