<form method="POST" enctype="multipart/form-data">
  <div>
    <div class="preview-card" style="--bg-img: url('{{cardMedia}}')">
      <div>
        <h1>{{cardTitle}}</h1>
        <p>{{cardText}}</p>
        <div class="tags">
          <div class="tag">0 Likes</div>
          <div class="tag">0 Comments</div>
        </div>
      </div>
    </div>
  </div>
  <button id="preview-button">Publish post</button>
</form>