<h1>leaderbard</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Score</th>
  </tr>
    {{#each users}}
      <tr>
        <th>{{name}}</th>
        <th>{{totalScore}}</th>
      </tr>
    {{/each}}
  <tr>
</table>

<div class="leaderboard-container one">
  <div class="profile">
    <div class="person second">
      <div class="num">2</div>
      <i class="fas fa-caret-up"></i>
      <img src="/images/leaderboard.png" alt="photo" class="photo">
      <p class="link">@dorisklien</p>
      <p class="points">8023</p>
    </div>
    <div class="person first">
      <div class="num">1</div>
      <i class="fas fa-crown"></i>
      <img src="/images/leaderboard.png" alt="" class="photo main">
      <p class="link">@sher234</p>
      <p class="points">8122</p>
    </div>
    <div class="person third">
      <div class="num">3</div>
      <i class="fas fa-caret-up"></i>
      <img src="/images/leaderboard.png" alt="" class="photo">
      <p class="link">@lord_0980</p>
      <p class="points">7884</p>
    </div>
  </div>

</div>


  <span class="material-symbols-outlined">
leaderboard
</span>