<h2>User profile</h2>

<img src="{{profile.picture}}" alt="{{profile.name}}" />

<h2>{{profile.name}}</h2>

{{#if userProfile}}
  <a href="/profile/edit">Edit profile</a>
{{/if}}

{{#each cards}}{{/each}}