.singleCard {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 500px;
  height: 800px;
  padding: 1em;
  overflow: visible;
}

.singleCard .commentList {
  max-height: 446px;
  overflow-y: scroll;
  padding: 0.6em;
  margin-bottom: 8.5em;
  min-height: 446px;
}

.singleCard .commentList .comment {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  margin-bottom: 0.2em;
  border-radius: 10px;
  padding: 1em;
}

.singleCard .commentList .comment p {
  margin: 0;
  font-size: 20px;
}

.singleCard .commentList .comment a {
  color: #6493f8;
  font-weight: bold;
}

.singleCard .commentFrom input {
  background-color: #f3f3f3;
  border-radius: 10px;
  border: none;
}

.singleCard .commentFrom button {
  border: none;
  background-color: #6493f8;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  padding: 0.2em;
}

.singleCard .cardMedia img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.singleCard .feedbackIcon {
  width: 74px;
  cursor: pointer;
}

.singleCard form {
  margin: 0;
}

.singleCard .commentIcon {
  width: 74px;
  cursor: pointer;
}

.singleCard .cardBodyFull {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  min-height: calc(100% - 36%);
}

.singleCard .cardBodyTitleDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  min-height: calc(100% - 3.5%);
}

.singleCard .cardFeedback {
  display: flex;
  justify-content: center;
}

.singleCard .cardFeedback button {
  border: none;
}

.singleCard .commentFeedback {
  position: relative;
  bottom: 85px;
  left: 450px;
}

.singleCard .creatorName {
  font-size: 24px;
  font-weight: bold;
  color: #bdbdbd;
  position: relative;
  bottom: 20px;
  right: -10px;
}

.singleCard .cardInfo {
  display: flex;
  position: relative;
  color: #bdbdbd;
  font-weight: bold;
  bottom: 65px;
  left: 345px;
}

.singleCard .cardInfo div {
  display: flex;
  align-self: center;
  margin-left: 1em;
}

.singleCard .cardInfo img {
  width: 26px;
  align-self: center;
  margin-right: 0.2em;
}

.singleCard h5 {
  font-size: 38px;
  margin: 0;
}

.singleCard p {
  font-size: 22px;
  margin: 0;
  max-width: 100%;
  max-height: 50%;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  /* number of lines to show */
  line-clamp: 6;
  -webkit-box-orient: vertical;
}

.scene {
  width: 500px;
  height: 800px;
  perspective: 600px;
  margin: 0 auto;
}

.cardFlip {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
}

.cardFlip.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  background-color: #fff;
}

.card__face--back {
  background-color: #fff;
  transform: rotateY(180deg);
}

/*# sourceMappingURL=singleCard.css.map */