*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  max-width: 52em;
  padding: 0 1em;
  margin: 0 auto;
  font-family: 'Calibri';
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 2;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  background-color: #4367ec;
  color: white;
  height: 64px;
  align-items: center;
  margin-bottom: 3em;
  justify-content: center;
}

nav .userDropdowns {
  display: flex;
  background-color: #6493f8;
  border-radius: 25px;
  padding: 0.2em 0;
}

nav .login-register {
  display: flex;
  color: #4367ec;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
  border-radius: 25px;
  padding: 0.4em 0;
}

nav .login-register a {
  margin: 0 0.4em;
}

nav .login-register a:hover {
  color: #a152e2;
}

nav button {
  border: none;
  margin: 0;
  padding: 0;
  height: 32px;
  cursor: pointer;
}

nav img {
  width: 48px;
}

nav .notificationsMenu {
  display: flex;
  align-items: center;
  height: 32px;
}

nav .notificationsMenu img {
  width: 48px;
  margin-left: 0.5em;
  position: relative;
  top: -8px;
}

nav .notificationsMenu .notificationNumber {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  position: relative;
  top: -36px;
  left: 32px;
  background-color: #e42343;
  width: 18px;
  height: 18px;
  text-align: center;
  border-radius: 25px;
  margin: 0;
}

nav .profileMenu {
  display: flex;
  align-items: center;
  height: 32px;
}

nav .profileMenu img {
  width: 30px;
  border-radius: 25px;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.1);
  margin-left: 0.6em;
}

nav .profileMenu form {
  margin: 0;
  padding: 0;
}

nav .dropdown {
  position: relative;
}

nav .dropdown-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 0;
  top: calc(100% + 0.25rem);
  width: 125px;
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  color: black;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

nav .dropdown-menu .notificationContainer {
  text-align: end;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ebebeb;
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.6em;
}

nav .dropdown-menu .notificationContainer form {
  display: inline;
  background-color: #6493f8;
  border-radius: 0.25rem;
  color: white;
  padding: 0.2em;
}

nav .dropdown-menu .notificationContainer a {
  color: #6493f8;
}

nav .dropdown-menu#notifications {
  min-width: 275px;
  max-width: 600px;
}

nav .dropdown.active > .profileMenu > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

nav .dropdown.active > .notificationsMenu > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

nav .appName {
  font-size: 58px;
  font-family: 'Brush Script MT';
  padding-bottom: 4px;
  margin: 0 auto;
}

nav .links {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1em;
  margin-right: 1em;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: inherit;
}

h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child) {
  margin-bottom: 1rem;
}

img {
  width: 100%;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input:not([type='checkbox']),
input:not([type='radio']),
input:not([type='range']),
textarea,
select,
button,
.btn {
  padding: 1em;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

label {
  margin-bottom: 0.5em;
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0, 0, 0, var(--bg-filter-opacity)), rgba(0, 0, 0, var(--bg-filter-opacity))), var(--bg-img);
  height: 40em;
  width: 30em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: 0.8;
}

.card:before,
.card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before,
.card:hover:after {
  transform: scale(1);
}

.error-container {
  background-color: rgba(211, 41, 41, 0.8);
  color: white;
  font-size: 20px;
  border: 2px solid #ec7474;
  border-radius: 6px;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */