// Leaderboard
$goldborder: #ffd700;
$silverborder: #b5b5bd;
$bronzeborder: #9c5221;

.leaderboard-container {
  min-height: 475px;
  width: 30rem;
  margin: 0 auto;
  border-radius: 15px;
}

.photo-second {
  width: 50px;
  background: #fff;
  border-radius: 50%;
  border: 5px solid $silverborder;
  box-shadow: 0 0 20px $silverborder;
  margin: 1rem 0;
}

.photo-third {
  width: 50px;
  background: #fff;
  border-radius: 50%;
  border: 5px solid $bronzeborder;
  box-shadow: 0 0 20px $bronzeborder;
  margin: 1rem 0;
}

.photo-first {
  width: 60px;
  background: #fff;
  border-radius: 50%;
  border: 5px solid $goldborder;
  box-shadow: 0 0 20px $goldborder;
  margin: 1rem 0;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.profile .person {
  display: flex;
  margin: 1rem 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile .person.first {
  z-index: 10;
  transform: translateY(-20%);
}

.link {
  margin: 0.2rem 0;
  color: black;
  margin-top: -0.3rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.points {
  color: black;
  font-size: 1rem;
  font-weight: bold;
}
