// Leaderboard
$goldborder: #ffd700;
$silverborder: #b5b5bd;
$bronzeborder: #9c5221;

//User-Container

.leaderboard-container {
  font-family: 'Arial', sans-serif;
  min-height: 475px;
  width: 40rem;
  margin: 0 auto;
}

.photo-second {
  width: 50px;
  background: #fff;
  border-radius: 50%;
  border: 3px solid $silverborder;
  box-shadow: 0 0 10px $silverborder;
  margin: 1rem 0;
}

.photo-third {
  width: 50px;
  background: #fff;
  border-radius: 50%;
  border: 3px solid $bronzeborder;
  box-shadow: 0 0 10px $bronzeborder;
  margin: 1rem 0;
}

.parent-first-place {
  position: relative;
  top: 0;
  left: 0;
}

.photo-first {
  width: 60px;
  background: #fff;
  border-radius: 50%;
  border: 3px solid $goldborder;
  box-shadow: 0 0 10px $goldborder;
  margin: 1rem 0;
  position: relative;
}
#crown-image {
  position: absolute;
  top: -7px;
  left: 0px;
  width: 30px;
  transform: rotate(-20deg);
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.profile .person {
  display: flex;
  margin: 1rem 2rem;
  // justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.profile .person.first {
  z-index: 10;
  transform: translateY(-20%);
}

.linkLeaderBoard {
  margin: 0.2rem 0;
  color: black;
  margin-top: -0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.points {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  margin-top: -0.5rem;
}

//Card Conatiner

// .first-card-publication {
//   border: 1px solid rgb(255, 255, 255);
//   border-radius: 10px;
//   height: 400px;
//   width: 270px;
//   margin: 2rem auto;
//   box-shadow: 0 0 5em -1em gold;
//   padding: 1em;
//   position: relative;
// }

.leaderboard-cards {
  display: flex;
  flex-wrap: wrap;
}

.leaderboard-card {
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: 1rem 0.25em;
}

@media screen and (min-width: 40em) {
  .leaderboard-card {
    max-width: calc(50% - 1em);
  }
}

@media screen and (max-width: 40em) {
  .profile :nth-child(1) {
    order: 2;
  }
  .profile :nth-child(2) {
    order: 1;
  }
  .profile :nth-child(3) {
    order: 3;
  }

  .profile {
    flex-direction: column;
  }
}

@media screen and (min-width: 60em) {
  .leaderboard-card {
    max-width: calc(25% - 1em);
  }
}

.leaderboard-card-container {
  margin: 0 auto;
  padding: 0 1em;
}

@media screen and (min-width: 52em) {
  .leaderboard-card-container {
    max-width: 52em;
  }
}
