// Leaderboard
$goldborder: #ffd700;
$silverborder: #b5b5bd;
$bronzeborder: #9c5221;

//User-Container

.leaderboard-container {
  min-height: 300px;
  width: 40rem;
  margin: 0 auto;
  margin-top: 7em;
}

.photo-second {
  width: 50px;
  height: 50px;
  object-fit: cover;
  background: #fff;
  border-radius: 50%;
  border: 3px solid $silverborder;
  box-shadow: 0 0 10px $silverborder;
  margin: 1rem 0;
}

.photo-third {
  width: 50px;
  height: 50px;
  object-fit: cover;
  background: #fff;
  border-radius: 50%;
  border: 3px solid $bronzeborder;
  box-shadow: 0 0 10px $bronzeborder;
  margin: 1rem 0;
}

#crown-image {
  position: absolute;
  top: -7px;
  left: 0px;
  width: 30px;
  transform: rotate(-20deg);
}

.parent-first-place {
  position: relative;
  top: 0;
  left: 0;
}

.photo-first {
  width: 60px;
  height: 60px;
  object-fit: cover;
  background: #fff;
  border-radius: 50%;
  border: 3px solid $goldborder;
  box-shadow: 0 0 10px $goldborder;
  margin: 1rem 0;
  position: relative;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.profile .person {
  display: flex;
  margin: 1rem 2rem;
  // justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.profile .person.first {
  z-index: 10;
  transform: translateY(-20%);
}

.linkLeaderBoard {
  margin: 0.2rem 0;
  color: black;
  margin-top: -0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.points {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  margin-top: -0.5rem;
}

@media screen and (max-width: 40em) {
  .profile :nth-child(1) {
    order: 2;
  }
  .profile :nth-child(2) {
    order: 1;
  }
  .profile :nth-child(3) {
    order: 3;
  }

  .profile {
    flex-direction: column;
  }
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main {
  margin: 0 auto;
  max-width: 80%;
}

.item {
  list-style: none;
  flex: 0 0 33.3333%;
  width: 33%;
  margin-bottom: 4em;
}

#crown-card {
  position: absolute;
  left: -1.5rem;
  top: -2.8rem;
  width: 60px;
  transform: rotate(-20deg);
}

.firstCard {
  .cardPublication {
    position: relative;
    border: 3px solid $goldborder;
    box-shadow: 0 0 20px $goldborder;
  }
}

@media screen and (max-width: 1580px) {
  .item {
    flex: 0 0 50%;
    width: 50%;
  }
}

@media screen and (max-width: 1070px) {
  .item {
    flex: 0 0 100%;
    width: 100%;
  }
}
