* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}
.container {
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0 1rem;
  width: max-content;
}
.profile {
  padding: 6rem 0;
}
.profile-image {
  float: left;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}
#profile-img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  object-position: 50% 50%;
  border-radius: 50%;
  border-radius: 50%;
  border-style: solid;
  border-color: #e9d3d9;
  display: block;
  box-shadow: 0 0 8px 3px #167e85;
  position: relative;
}
.profile-user-settings {
  float: left;
  margin-top: -2.5rem;
}
#profile-user-name {
  display: inline-block;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: -5rem;
  text-shadow: rgb(60, 152, 213) 1px 0 10px;
  color: rgb(1, 0, 1);
}

.btn {
  display: inline-block;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 10px;
  cursor: crosshair;
}
.btn:focus {
  outline: 0.5rem auto #4d90fe;
}
.profile-edit-btn {
  font-size: 1.4rem;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 1rem;
  margin-left: 4rem;
  background-color: rgb(40, 24, 147);
}
#profile-stats {
  padding: 20px;
  margin-top: 7rem;
  margin-left: 8rem;
  vertical-align: middle;
  justify-content: center;
  font-size: 1.2rem;
}
li {
  display: flex;
  font-size: 1.5rem;
  line-height: 1.5;
  cursor: pointer;
  margin-right: 6rem;
}
ul {
  align-items: center;
  margin: 0%;
  margin-top: -3rem;
  margin-left: 1.5rem;
}
#edit {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgb(75, 127, 205);
  margin-right: 95px;

  top: 0;
  bottom: -80px;
  left: 135px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: rgb(215, 202, 202);
  color: rgb(16, 19, 162);
  position: relative;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main {
  margin: 0 auto;
  max-width: 80%;
}

.item {
  list-style: none;
  flex: 0 0 33.3333%;
  width: 33%;
  margin-bottom: 4em;
}

@media screen and (max-width: 1580px) {
  .item {
    flex: 0 0 50%;
    width: 50%;
  }
}

@media screen and (max-width: 1070px) {
  .item {
    flex: 0 0 100%;
    width: 100%;
  }
}
.fa-heart-circle-bolt {
  margin-right: 5px;
  margin-top: 3px;
  color: rgb(78, 6, 78);
}
.delete {
  position: relative;
  color: darkred;
  border: none;
  bottom: 20px;
}
.deletion {
  background-color: transparent;
  margin-right: 40px;
  margin-left: 320px;
  position: absolute;
}
.fa-trash-can {
  color: rgb(225, 10, 10);
  padding: 5px;
  margin-top: 30px;
}
.edit-btn {
  margin-bottom: 60px;
  margin-top: -140px;
}
